@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@200;400&family=Raleway:wght@200;300&family=Ysabeau+Office:wght@100;200;300&display=swap');


*{
    color: #464646;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', sans-serif;
}
h2{
    color: cornflowerblue;
    text-shadow: #464646;
    animation-name: colorchange;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes colorchange{
    0% {color:cornflowerblue}
    50%{color: blue;}
    100%{color: #464646;}
}
