@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@200;400&family=Raleway:wght@200;300&family=Ysabeau+Office:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    
    background-image: linear-gradient(to right, #c0d3eb, #fff);
}

@media screen and (min-width:1024px) {
    main{
        padding: 2rem 2rem;    
    }
}