.header{
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.name__vector{
    display: flex;
    align-items: center;
    flex: 2.5;
    font-size: 25px;
}
.name{
    margin-left: 1rem;
}
.nav__menu{
    flex: 2.5;
    font-size: 20px;
}
.nav__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link{
    text-decoration: none;
    color: black;
}
.nav__link--contact{
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.nav__link--contact:active{
    color: blue;
}
@media screen and (max-width:475px) {
    .header{
        font-size: 20px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100vw;
        
    }
    .logo{
        display: none;
    }
    .name{
        font-size: 30px;
        width: 100vw;
        padding: 0;
        margin: 0;
        
    }
    .nav__list{
        padding-top: 1rem;
        display: flex;
        width: 100vw;
        
        font-size: 18px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 1rem;
    }
    .nav__item{
        width: 60%;
        

    }
}