.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #c0d3eb, #fff);
}
.name__vector{
    display: flex;
    text-align: center;
    margin-right: 20px;
}
.name{
    font-size: 25px;
    text-transform: capitalize;
    text-shadow: 1px 2px 3px lightgray; 
}
.name .lastname1{
    display: none;
}
.name .lastname2{
    display: none;
}
.name__vector img{
    display: none;
}
header .nav__menu{
    display: none;
}