.about{
    background: #eaf2fd;
    padding: 3rem 5rem;
}
.about__title{
    font-size: 30px;
    margin: 2rem 0rem;
}
.about__description{
    margin: 2rem 0rem;
    line-height: 1.5rem;
    width: 80%;
    font-size: 20px;
}
@media screen and (max-width:475px) {
    .about{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100vw;
        padding: 0;
        margin: 0;
        flex-direction: column;
        
    }
    .about__title{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .about__description{
        padding: 0;
    }
}