.academic__formation{
    background: #eaf2fd;
    padding: 3rem 5rem;
}
.af__title{
    font-size: 30px;
    margin: 3rem 0;
    text-align: center;
}
.af__boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.af__box{
    display: flex;
    flex-direction: column;
}
.af__imagen{
    height: 350px;
    width: 450px;
    margin: 0 auto;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 25px;
    
}
.af__imagen--ufpr{
    background-image: url(../../images/formation/ufpr_logo.png);
}
.af__imagen--alura{
    background-image: url(../../images/formation/alura_logo.png);

}
.af__imagen--ufrj{
    background-image: url(../../images/formation/ufrj_logo.png);
}
.school__name{
    margin-left: 1rem;
    font-size: 1.8rem;
    max-width: 1rem 0;
}
.school__year{
    margin-left: 1rem;
    font-size: 1.10rem;
    text-transform: lowercase;
}
@media screen and (max-width:475px) {
    .academic__formation{
        width: 100vw;
        margin: 0;
        padding-top: 1rem;
    }
    .af__boxes{
        width: 100%;
    }
    .af__imagen {
        width: 250px;
        
    }
    ..af__title{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    
}