.hobbies{
    background-color: whitesmoke;
    padding: 3rem 5rem;
}
.hobbies__main--title{
    text-align: center;
    padding: 1rem 0rem;
    font-size: 30px;
    
}
.hobbies__boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 250px;
}
.hobbies__box{
    background: white;
    width: 230px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    border-radius: 15px;
}
.hobbie__icon{
    margin-left: 10%;
    width: fit-content;
    margin-bottom: 5%;
    
}
.hobbie__title{
    margin-left: 10%;
    margin-bottom: 10%;
}
@media screen and (max-width:475px) {
    .hobbies{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100vw;
        align-content: center;
        align-items: center;
        justify-content: center;
        
        padding: 0;
        margin: 0;
    }
    .hobbies__main--title{
        font-size: 30px;
        margin-top: 30px 0px;
    }
    .hobbies__boxes{
        
        height: fit-content;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .hobbies__box{
        border: solid #eaf2fd;
       justify-content: center;
       align-items: center;
       align-content: center;
    }
}