.profesional__exp{
    background-color: whitesmoke;
    padding: 3rem 5rem;
}
.profesional__exp__title{
    text-align: center;
    padding: 1rem 0;
    font-size: 30px;
    margin-bottom: 1rem;
    
}
.prof__exp2{
    display: flex;
    margin: 3rem 0;
    width: auto;
    justify-content: space-between;
    flex-direction: row;
    flex: 2.5;
}
.prof__exp1{
    display: flex;
    margin: 3rem 0;
    width: auto;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: 2.5;
}

.prof__exp__img{
    border-radius: 15px;
}
.prof-exp__derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    
    flex: 2.5;
    padding-left: 5rem;
}
.prof-exp__derecha_title{
    font-size: 2rem;
    font-weight: 600;
}
.prof-exp__derecha_desc{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    
}
.botones{
    margin-top: 1rem;
    display: flex;
    height: 50px;
}
.repositorio{
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    height: auto;
    width: 150px;
    cursor: pointer;
    color: #2a7ae4;
    font-weight: 600;
}

.ver__demo{
    height: auto;
    width: 150px;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    background-color: #2a7ae4;
    border: 1px solid #2a7ae4;
    color: white;
    font-weight: 600;
    
}
@media screen and (max-width:475px) {
    
    .profesional__exp{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .prof-exp__derecha{
        
        padding: 0;
        margin: 0;
    }
    .prof__exp__img{
        width: 250px;
    }
    .prof__exp2{
        display: flex;
        flex-direction: column;
    }
    .prof__exp1{
        display: flex;
        flex-direction: column;
    }
    .profesional__exp__title{
        margin: 0;
        padding: 0;
        
        font-size: 30px;
    }
    .prof-exp__derecha_title{
        font-size: 25px;
    }
}
@media screen and (max-width:1024px){
    
}